body{
    margin: 0;
    display: flex;
}

.clock-container{
    margin: auto;
    justify-content: center;
    background-color: hsla(0, 4%, 10%, 0.795);
    border-radius: 5px;
 
}

.clock{
    color: hsla(240, 10%, 84%, 0.925);
    font-style: monospace;
    font-size: 6.5rem;
    align-items: center;

}